@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html{scroll-behavior:smooth}

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

section{
    padding: 0 15%;
    animation: fadeIn 0.4s;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.header{
    position: relative;
    padding: 0 15%;
    height: 4rem;
    // background: red;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo{
        h2{
            color: #333;
            transition: 0.3s;
            cursor: pointer;

            img{
                height: 1.5rem;
            }
        }
        
        h2:hover{
            color: #40BCD8;
        }
    }

    ul{
        display: flex;
        gap: 2rem;

        li{
            list-style: none;

            a{
                color: #333;
                font-size: 1.1em;
                font-weight: 500;
                text-decoration: none;
            }

            a::after{
                content: '';
                display: block;
                margin: auto;
                background: #40BCD8;
                width: 0%;
                height: 0.2rem;
                transition: 0.3s;
            }

            a:hover::after{
                width: 80%;
            }
        }
    }
}

.dropdown-menu{
    visibility: hidden;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 0.7rem;
    right: 15%;
    width: 3rem;
    height: 3rem;
    background: #fff;
    transition: height 0.3s, width 0.3s;
    transition-delay: 0s, 0.2s;
    border-radius: 0.7rem;
    overflow: hidden;
    z-index: 20;

    .dropdown-menu-toggle{
        position: relative;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dropdown-menu-toggle::before{
        content: '';
        position: absolute;
        width: 2rem;
        height: 0.1rem;
        background: #333;
        transform: translateY(-0.7rem);
        box-shadow: 0 0.7rem #333;
        transition: 0.3s;
    }

    .dropdown-menu-toggle::after{
        content: '';
        position: absolute;
        width: 2rem;
        height: 0.1rem;
        background: #333;
        transform: translateY(0.7rem);
        transition: 0.3s;
    }

    .dropdown-menu-list{
        position: absolute;
        width: 200px;
        height: 315px;
        margin-top: 75px;
        padding: 0;

        li{
            list-style: none;

            a{
                font-size: 1.2em;
                text-decoration: none;
                color: #333;
            }

            a:hover{
                color: #4e65ff;
            }
        }
    }
}

.dropdown-menu.active{
    width: 13rem;
    height: 27rem;
    border-radius: 0.7rem;
    transition: height 0.3s, width 0.3s;
    transition-delay: 0.2s, 0s;

    .dropdown-menu-toggle::before{
        transform: translateY(0px) rotate(45deg);
        box-shadow: 0 0 #555;
    }    

    .dropdown-menu-toggle::after{
        transform: translateY(0px) rotate(-45deg);
    }
}

.hero{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 94vh;
    background: linear-gradient(rgba(4, 9, 30, 0.7)),url(./img/ramiro-pianarosa-EePEUjRM1Z4-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    h1{
        color: #fff;
        font-size: 3em;
        text-transform: uppercase;
    }

    p{
        text-align: center;
        margin-top: 2.5rem;
        width: 40%;
        color: #fff;
        font-size: 1.1em;
    }

    a{
        margin-top: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.2em;
        color: #fff;
        background-color: #40BCD8;
        border-radius: 0.7rem;
        width: 15rem;
        height: 3rem;
        transition: 0.3s;
    }

    a:hover{
        background-color: #fff;
        color: #333;
    }
}

.card-grid{
    margin-top: 15rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .text{
        text-align: center;
        color: #333;
        margin-bottom: 3rem;

        h1{
            font-size:2em;
            font-weight: 600;
        }
    }

    .cards{
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        gap: 1.4rem;
        margin: 1.4rem 0 1.4rem;
        
    
        .card{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: 15rem;
    
            .text{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: #333;
                text-align: center;
    
                h2{
                    font-weight: 600;
                    font-size: 1.2em;
                }
    
                p{
                    max-width: 18rem;
                }
            }
    
            a{
                position: relative;
                bottom: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #40BCD8;
                text-decoration: none;
                font-size: 1.2em;
                cursor: pointer;
                color: #fff;
                width: 13rem;
                height: 2rem;
                border: 0.2rem solid #40BCD8;
                border-radius: 0.7rem;
                transition: 0.3s;
            }
    
            a:hover{
                color: #333;
                background-color: #fff;
            }
        }
    }
}

.paragraph{
    
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;


    .text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.7rem;
        color: #333;
        padding: 5%;
        max-width: 30rem;
        text-align: left;

        h2{
            max-width: 50%;
            text-align: center;
            font-weight: 600;
        }

        p{
            font-weight: 400;
            letter-spacing: 0.1rem;
            line-height: 1.5em;
            text-align: center;
        }
    }

    img{
        width: 50%;
        max-height: 40rem;
        object-fit: cover;
        border-radius: 0.7rem;
    }
}

.paragraph.mirrored{
    flex-direction: row-reverse;
}

.wide-card{
    position: relative;
    margin-top: 10rem;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    justify-content: space-around;
    background-color: #40BCD8;

    .text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 0.7rem;
        color: #fff;
        padding: 5%;

        h1{
            font-weight: 600;
            font-size: 2em;
        }

        p{
            font-weight: 400;
            letter-spacing: 0.1rem;
            line-height: 1.5em;
        }

        a{
            margin-top: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 1.2em;
            color: #fff;
            background-color: #EAC435;
            border-radius: 0.7rem;
            width: 17rem;
            height: 3rem;
            transition: 0.3s;
        }
    
        a:hover{
            background-color: #fff;
            color: #333;
        }
    }

    img{
        max-width: 50%;
        max-height: 40rem;
        object-fit: cover;
        border-radius: 0.7rem;
    }
}

.wide-card.mirrored{
    flex-direction: row-reverse;
}

.wide-card.border{
    width: 60%;
    margin-left: 15%;
    padding: 1% 5%;
    border-radius: 0.7rem;
}

.contacts{
    position: relative;
    margin-top: 15rem;
    border-radius: 0.7rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;

    .map{

        iframe{
            width: 40rem;
            height: 40rem;
            border-radius: 0.7rem;
        }
    }

    .text{
        color: #fff;
        justify-content: center;
        align-items: center;
        width: 40%;
        padding: 3%;
        background-color: #40BCD8;
        border-radius: 0.7rem;

        h2{
            font-size: 2em;
        }

        .cons{
            margin-top: 1.4rem;
            list-style: none;
            line-height: 2rem;

            li{
                
                a{
                    font-size: 1.1em;
                    font-weight: 500;
                    color: #fff;
                    text-decoration: none;
                    transition: 0.3s;
                }

                a:hover{
                    color: #345995;
                }
            }
        }

        .social{
            margin-top: 1.4rem;
            list-style: none;

            li{
                display: inline-block;
                margin-right: 1rem;

                a{
                    font-size: 1.5em;
                    color: #fff;
                    text-decoration: none;
                    transition: 0.3s;
                }

                a:hover{
                    color: #345995;
                }
            }
        }
    }
}

.plain-text{
    margin: 1% 10%;
    letter-spacing: 0.1rem;

    h1{
        text-align: center;
    }
}

.footer{
    position: relative;
    margin-top: 4rem;
    height: 14vh;
    // background: red;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo{
        h2{
            a{
                text-decoration: none;
                color: #333;
                transition: 0.3s;
                cursor: pointer;

                img{
                    height: 1.4rem;
                }
            }

            a:hover{
                color: #40BCD8;
            }            
        }
        
    }

}

@media(max-width: 1600px){
    section{
        padding: 0 5%;
    }

    .header{
        padding: 0 5%;
        ul{
            display: none;
        }
    }

    .dropdown-menu{
        visibility: visible;
        top: 7px;
        right: 5%;

        .dropdown-menu-list{
            display: flex;
            flex-direction: column;
            justify-content:flex-start;
            align-items: center;
            gap: 1.4rem;
        }
    }

    .card-grid{
        margin-top: 60px;
        padding: 0 3%;

        .cards{
            
            
            flex-wrap: wrap;
            
            .card{
                margin-top: 40px;
            }
        }
    }

    .contacts{
        .map{
            iframe{
                width: 30rem;
                height: 30rem;
            }
        }
    }
}

@media(max-width: 1100px){

    .dropdown-menu{
        top: 0.5vh;
    }

    .hero{

        p{
            width: 70%;
        }
    }

    .card-grid{
        margin-top: 60px;
        padding: 0 3%;

        .cards{
            
            
            flex-wrap: wrap;
            
            .card{
                margin-top: 40px;
            }
        }
    }

    .paragraph{
        padding: 0 3%;
    }

    .wide-card{
        padding: 3% 3%;

        img{
            width: 50%;
        }
    }

    .wide-card.border{
        padding: 3% 3%;
        margin-left: 3%;
        width: 88%;

        .text{
            width: 35%;
        }

        img{
            width: 50%;
        }
    }

    .contacts{
        margin-left: 3%;
        padding: 1% 3%;
        width: 88%;

        .text{
            width: 30%;
        }
    }

    .plain-text{
        padding: 3% 3%;
    }
}

@media(max-width: 768px){

    section{
        padding: 0 3%;
    }

    .header{
        padding: 0 3%;
        .logo{

            h2{
                font-size: 1em;
            }
        }

        ul{
            display: none;
        }
    }

    .dropdown-menu{
        right: 3%;
        top: 7px;
    }

    .hero{
        text-align: center;
    }

    .cards{
        padding: 1% 3%;
        justify-content: center;

        .card{

            img{
                width: 100%;
            }
        }
    }

    .paragraph{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 1%;

        .text{
            text-align: center;

            h2{
                max-width: 70%;
                text-align: center;
            }
        }

        img{
            width: 100%;
            height: 250px;
            object-fit: cover;
        }
    }

    .paragraph.mirrored{
        flex-direction: column-reverse;        
    }

    .wide-card{
        flex-direction: column;
        padding: 3% 1% 3%;
        align-items: center;

        .text{
            padding: 0 3%;
            margin-top: 0;
            margin-bottom: 0;
        }

        img{
            width: 100%;
            height: 250px;
        }
    }

    .wide-card.mirrored{
        flex-direction: column-reverse;
    }

    .wide-card.border{
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .text{
            width: 100%;
        }

        img{
            width: 100%;
        }
    }

    .wide-card.border.mirrored{
        flex-direction: column-reverse;
    }

    .contacts{
        flex-direction: column;
        margin-left: 3%;
        padding: 1% 3%;
        width: 88%;

        .map{
            
            iframe{
                height: 300px;
            }
        }

        .text{
            padding: 3%;
            text-align: center;
            margin: 0;
            width: 100%;
        }
    }

    .footer{

        .logo{
            width: 10rem;
            h2{
                font-size: 1em;
            }
        }

        p{
            text-align: end;
        }
    }
}